
<mat-toolbar class="header-container">
  <a class="menu-link" [routerLink]="['/home']" routerLinkActive="active">
    <button mat-button class="header-button">Home</button>
  </a>
  <a class="menu-link" [routerLink]="['/candidates']" routerLinkActive="active">
    <button mat-button class="header-button">Candidatos</button>
  </a>
  <a class="menu-link" [routerLink]="['/parties']" routerLinkActive="active">
    <button mat-button class="header-button">Partidos</button>
  </a>
  <a class="menu-link" [routerLink]="['/spending']" routerLinkActive="active">
    <button mat-button class="header-button">Gastos de campanha</button>
  </a>
  <a class="menu-link" [routerLink]="['/about']" routerLinkActive="active">
    <button mat-button class="header-button">Sobre</button>
  </a>
  <a class="menu-link" [routerLink]="['/contact']" routerLinkActive="active">
    <button mat-button class="header-button">Contato</button>
  </a>
</mat-toolbar>

